.about-us-left{
    background: #fff;
    padding: 60px !important;
    /* margin-top: 162px; */
  border-radius: 3px;
  box-shadow: 1px 1px 1px 1px #efefef;
}
.about-us-left h4{
    border-bottom: 1px solid #efefef;
    padding-bottom: 18px;
    font-size: 20px;
    color: rgb(51, 49, 49);
}
.about-us-left p{
padding : 26px ;
font-size: 17px;
line-height: 32px;
color: #7a7a7a;
}
.about-us-left a{
    background-color: orange;
    padding: 5px 10px;
    border-radius: 4px;
    color: #fff;
    float: left;
    margin-left: 100px;
    font-size: 16px;
    transition: .5s ease;
}
.about-us-left a:hover{
    border-radius:0 10px 0 10px ;
}
@media screen and (max-width:992px) {
    .about-us-right {
        display: none;
    }
    
}