.img-header{
    min-height: 90vh ;
}
.overlay{
    width: 100%;
    background-color: rgba(0 , 0, 0,0.7);
    min-height: 50vh;
}
.header-title{
    color: white;
margin: 290px;
max-width: 500px;
}
.header-title a{
    background-color: orange;
    padding: 5px 10px;
    border-radius: 4px;
    color: #fff;
    float: left;
    margin-left: 100px;
    
}
@media screen and (max-width:1200px) {
    .header-title{
        width: 100%;
        margin: 0;
        position: absolute;
        background-color: rgba(255, 255,255,0.2);
        color: #000;
        padding: 20px;
        top: 50%;
        left: 50%;
        transform: translate(-50% , -50%);
        border-radius: 5px;

    }
    .overlay{
        min-height: 100% !important;
     }
     .img-header{
         min-height: 100% !important;
     }
}
@media screen and (max-width:678px) {
.header-title h1{
    font-size: 20px;
}
.header-title h4{
font-size: 16px;
}
.header-title a{
    font-size: 14px;
}
/* .overlay{
    min-height: 97% !important;
 } */
}
@media screen and (min-width:1200px) {

    .overlay{
       min-height: 100% !important;
    }
    .img-header{
        min-height: 100% !important;
    }
}